@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* body CSS */
body {
    font-family: 'NeoDunggeunmoPro-Regular';
    background-color: rgb(252, 233, 233);

}

/* HeaderBar 관련 CSS */
body>header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.logo {
    font-size: 28px;
    color: #333;
}

#hamberger {
    display: none;
    cursor: pointer;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

header aside {
    display: flex;
    flex-direction: row;

}

header aside a {
    margin: 0 10px;
}

header aside a:hover {
    color: plum;
}

@media (max-width: 1000px) {
    body>header {
        padding: 20px;
    }

    header>aside {
        display: none;
    }

    header>aside a {
        margin: 1rem;
    }

    #hamberger {
        display: block;
    }

    #hamberger:hover+aside,
    aside:hover {
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        background-color: #f8f8f8;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        padding: 1rem;
    }
}

/* Main파트 CSS */

/* 메인파트1 : nav */
main {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 5rem;
    padding: 10px;
}

main nav {
    display: flex;
    /* padding: 10px; */
    position: sticky;
    top: 5rem;
    flex-direction: column;
    width: 9.375rem;
    height: fit-content;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

main nav .category {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 10px;
    border-radius: 10%;
}

main nav .category > input {
    cursor: pointer;
}
main nav .category > label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

main nav .category:hover {
    background-color: palevioletred;
    color: white;  
}

/* 메인파트2 : cardSection */
#cardSection {
    display: grid;
    grid-template-columns: repeat(6, 250px);
    grid-auto-rows: 18.75rem;
    grid-gap: 1.25rem;

    width: 100%;
    height: 100%;
    
}

@media screen and (max-width: 1800px) {
    #cardSection {
        grid-template-columns: repeat(5, 250px);
    }
}

@media screen and (max-width: 1600px) {
    #cardSection {
        grid-template-columns: repeat(4, 250px);
    }
}

@media screen and (max-width: 1300px) {
    #cardSection {
        grid-template-columns: repeat(3, 250px);
    }
}

@media screen and (max-width:1100px) {
    #cardSection {
        grid-template-columns: repeat(2, 250px);
    }
}

@media screen and (max-width: 900px) {
    #cardSection {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 150px;
    }
}

/* 메인파트3 : cardSection > Card CSS */

#cardSection .card {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    transform-style: preserve-3d;
    background-color: white;
    animation: downUp 1s;
    z-index: 0;
}

@keyframes downUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

#cardSection .card::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 500px;
    background: linear-gradient(90deg, transparent, purple, transparent);
    animation: rotation_border 5000ms infinite linear;
    z-index: -1;
}

#cardSection .card .card-content {
    width: 98%;
    height: 98%;
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
    z-index: 1;
}


#cardSection .card .card-content img {
    width: 150px;
}

@keyframes rotation_border {
    0% {
        transform: rotateZ(0deg);
    }

    0% {
        transform: rotateZ(360deg);
    }
}

#cardSection .card .card-content .tag_zone {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 1rem;
    padding-left: 1rem;
}

.tag_zone button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    width: 1rem;
    height: 1rem;

    border: none;
    background-color: yellow;
    color: black;
}

.tag_zone button:hover {
    color: white;
    background-color: rebeccapurple;
    cursor: pointer;
}

.tagContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 10rem;
    height: 1rem;
    overflow: hidden;
    text-align: center;
}

.tagContainer .tag::before {
    content: "#";
}

.tagContainer .tag {
    margin-right: 0.3rem;
}

.pokemonName {
    font-size: 25px;
}

.JJim {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

.favorite {
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

.heart {
    display: none;
}

#cardSection label::before {
    content: '🤍';
    display: block;
}

#cardSection .heart:hover+label::before {
    content: '❤️';
    cursor: pointer;
}

#cardSection .heart:checked+label::before {
    content: '❤️';
}

/* 2차과제 css */

.cardMainContainer {
    margin-left: 1rem;
}

#tagSection .tagUl {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

#tagSection .tagUl>li {
    padding: 0.5rem;
    margin: 0 1rem;
    background-color: #13e51a; /* 배경색 */
    color: white;

    border-radius: 5px;
    transform: perspective(400px) rotateY(25deg) rotateX(-5deg);
    box-shadow: 0 5px 0 #529e55; 
    transition: all 0.4s ease-in-out;
}

#tagSection .tagUl>li>i {
    margin-left: 0.5rem;
    padding: 0.1rem;
    border-radius: 50%;
}

#tagSection .tagUl>li:hover {
    color: red;
    cursor: pointer;
}

.card .tagModal {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(161, 161, 161, 0.8);
    z-index: 2;
    cursor: pointer;
}

.card .tagModal .tagModal_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    padding: 1.5rem;

    width: 70%;
    height: 70%;
    background-color: rgb(6, 207, 130);
    border-radius:20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card .tagModal .tagModal_container .exitIcon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 2px;
    color: white;
    border-radius: 50%;
    z-index: 4;
}

.card .tagModal .tagModal_container .exitIcon:hover {
    color: red;
    cursor: pointer;
}




